*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* loading */
.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #8ed093;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* end of loading */
body {
  background-color: rgb(202, 219, 229);
}
.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.correct-answers {
  align-self: flex-end;
  text-transform: capitalize;
  color: green;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.container {
  align-self: center;
}
.container h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 2px;
}
.btn-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.answer-btn {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  height: 35px;
  max-width: 500px;
  background-color: deepskyblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.answer-btn:hover {
  background-color: black;
  color: white;
}
.next-question {
  align-self: flex-end;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  border: none;
  background-color: rgb(121, 116, 206);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 1rem 4rem;
  background-color: white;
  border-radius: 2rem;
}
.modal-container.isOpen {
  transform: translateX(0);
}
main {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.quiz {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.setup-form {
  width: 80%;
  max-width: 800px;
  padding: 1rem;
}
.setup-form h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.setup-form .form-control {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.submit {
  width: 100%;
  margin-top: 1rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.4rem 0;
}
.form-control label {
  font-size: 1.1rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: capitalize;
}
.form-control input {
  padding: 0.5rem 0.3rem;
}
.form-control select {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5rem 0.3rem;
}
